@import url('https://fonts.googleapis.com/css?family=BioRhyme:700,800|Roboto+Mono:700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
button {
    font-family: 'BioRhyme', serif;
    font-weight: 700;
}

h1 {
    font-size: 6.4rem;
}
