// Colors
$pink: #ff007e;
$lime: #afff93;
$yeller: #ffff80;
$violet: #b266ff;
$oaf: #00aaff;
$gray: #4f4f4f;
$liteg: #f8f8f8;

// Sizes
$borderRadius: 8px;
$inputHeight: 5rem;
$inputFontSize: 2.8rem;
