@import 'src/styles/variables.scss';
@import 'src/styles/fonts.scss';

.tickerSearch {
  input {
    border-radius: $borderRadius;
    height: $inputHeight;
    font-size: $inputFontSize;
    border: none;
    padding: 0 1rem;
    width: 100%;
    max-width: 100rem;
    outline: none;
    text-transform: uppercase;
    font-family: $monofont;

    &::placeholder {
      text-transform: none;
      font-family: $headerfont;
    }
  }
}
